<mat-toolbar>
  <span>AR-nold</span>
  <span class="spacer"></span>
  <a mat-button routerLinkActive="active-link" routerLink="/home">Home</a>
  <a mat-button routerLinkActive="active-link" routerLink="/about">About</a>
  <a mat-button routerLinkActive="active-link" routerLink="/contact">Contact</a>
  <a mat-button routerLinkActive="active-link" routerLink="/animation">Animation</a>
</mat-toolbar>

<div>
  <app-voice-button />
</div>

<div class="custom-grid">
  <div class="left">
    <router-outlet></router-outlet>
  </div>
  <div class="right">
    @if (logs$ | async; as logs) {
      <ul class="log-list" #logContainer>
        @for (log of logs; track log.id) {
          <li class="log-entry">
            <span class="log-time">{{ log.timestamp | date:'HH:mm:ss' }}</span>
            <span class="log-message">{{ log.message }}</span>
          </li>
        }
      </ul>
    }
  </div>
</div>


