.custom-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;

  }
  
  .left, .right {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    li {
        font-size: 16px;
        font-weight: 100;
    }
  }
