<h1>Home</h1>
<p>
  Sopra Steria is a European leader in consulting, digital services, and software development. Headquartered in France, the company helps organizations drive digital transformation and improve operational efficiency through innovative technology solutions. With a strong focus on sustainability and human-centric approaches, Sopra Steria serves clients across industries including public sector, banking, defense, healthcare, and more.
</p>

@if(regionIsVisible() ) {

    <div class="info__container">
        This is an expandable region.
    </div>
}

