<div *ngIf="isVisible()">
    <h1 mat-dialog-title>All commands</h1>
    <div mat-dialog-content>
        <table class="mat-elevation-z8 mat-table">
            <thead>
            <tr class="mat-header-row">
                <th class="mat-header-cell">Command</th>
                <th class="mat-header-cell">en</th>
                <th class="mat-header-cell">nl</th>
                <th class="mat-header-cell">cn</th>
            </tr>
            </thead>
            <tbody>
            <tr class="mat-row">
                <td class="mat-cell">Navigate Home</td>
                <td class="mat-cell">home</td>
                <td class="mat-cell">home</td>
                <td class="mat-cell">首页</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Navigate About</td>
                <td class="mat-cell">about</td>
                <td class="mat-cell">over ons</td>
                <td class="mat-cell">关于我们</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Navigate Contact</td>
                <td class="mat-cell">contact</td>
                <td class="mat-cell">contact</td>
                <td class="mat-cell">联系</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Navigate Animation</td>
                <td class="mat-cell">animation</td>
                <td class="mat-cell">animatie</td>
                <td class="mat-cell">动画</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Open Help</td>
                <td class="mat-cell">help me</td>
                <td class="mat-cell">help mij</td>
                <td class="mat-cell">帮助我</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Close Help</td>
                <td class="mat-cell">close help</td>
                <td class="mat-cell">sluit help</td>
                <td class="mat-cell">关闭帮助</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Show Region</td>
                <td class="mat-cell">show region</td>
                <td class="mat-cell">toon regio</td>
                <td class="mat-cell">显示</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Hide Region</td>
                <td class="mat-cell">hide region</td>
                <td class="mat-cell">verberg regio</td>
                <td class="mat-cell">隐藏</td>
            </tr>
            <tr style="background: none">
                <td>&nbsp;</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Jump</td>
                <td class="mat-cell">jump</td>
                <td class="mat-cell">spring</td>
                <td class="mat-cell">跳</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Turn Right</td>
                <td class="mat-cell">turn right</td>
                <td class="mat-cell">draai rechts</td>
                <td class="mat-cell">向右转</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Turn Left</td>
                <td class="mat-cell">turn left</td>
                <td class="mat-cell">draai links</td>
                <td class="mat-cell">向左转</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Move Forward</td>
                <td class="mat-cell">move forward</td>
                <td class="mat-cell">ga vooruit</td>
                <td class="mat-cell">前进</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Move Backward</td>
                <td class="mat-cell">move backward</td>
                <td class="mat-cell">ga achteruit</td>
                <td class="mat-cell">后退</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Move Right</td>
                <td class="mat-cell">move right</td>
                <td class="mat-cell">ga rechts</td>
                <td class="mat-cell">向右走</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Move Left</td>
                <td class="mat-cell">move left</td>
                <td class="mat-cell">ga links</td>
                <td class="mat-cell">向左走</td>
            </tr>
            <tr style="background: none">
                <td>&nbsp;</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Insert Space</td>
                <td class="mat-cell">symbol space</td>
                <td class="mat-cell">symbool spatie</td>
                <td class="mat-cell">符号空格</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Insert &#64;</td>
                <td class="mat-cell">symbol at</td>
                <td class="mat-cell">symbool apenstaartje</td>
                <td class="mat-cell">符号 &#64;</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Insert Period</td>
                <td class="mat-cell">symbol period</td>
                <td class="mat-cell">symbool punt</td>
                <td class="mat-cell">符号句点 / 符号聚点 / 符号据点</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Insert Question Mark</td>
                <td class="mat-cell">symbol question mark</td>
                <td class="mat-cell">symbool vraagteken</td>
                <td class="mat-cell">符号问号</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Letter (a-z)</td>
                <td class="mat-cell">letter [a-z]</td>
                <td class="mat-cell">letter [a-z]</td>
                <td class="mat-cell">字母 [a-z]</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Number (0-9)</td>
                <td class="mat-cell">number [zero-nine]</td>
                <td class="mat-cell">nummer [nul-negen]</td>
                <td class="mat-cell">数字 [零-九]</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Delete Last</td>
                <td class="mat-cell">delete</td>
                <td class="mat-cell">verwijder</td>
                <td class="mat-cell">删除</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Reset Field</td>
                <td class="mat-cell">reset field</td>
                <td class="mat-cell">veld resetten</td>
                <td class="mat-cell">重置字段</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Submit</td>
                <td class="mat-cell">submit</td>
                <td class="mat-cell">indienen</td>
                <td class="mat-cell">提交</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Next Field</td>
                <td class="mat-cell">next field</td>
                <td class="mat-cell">volgend veld</td>
                <td class="mat-cell">下一个字段</td>
            </tr>
            <tr class="mat-row">
                <td class="mat-cell">Previous Field</td>
                <td class="mat-cell">previous field</td>
                <td class="mat-cell">vorig veld</td>
                <td class="mat-cell">上一个字段</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div mat-dialog-actions>
        <button (click)="closeDialog()" mat-button>Close</button>
    </div>


</div>

